$color: firebrick;

.button {
  border: 0;
  border-radius: 1px;
  margin-top: 10px;
  font-size: 1.2em;
  width: 100%;
}

.danger-button {
  background: $color;
  color: white;
}

.standard-button {
  background: darkcyan;
  color: white;
}
